*{
    margin: 0;
    padding: 0;
    --primary-color:rgb(255, 255, 214);
}
body{
    background-color: black;
    padding: 2rem;
    
}
.container{
    height: 90vh;
    width: 66vw;
    background-color: rgb(48, 48, 48);
    background-image: url("back1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
}
.heading{
    width: 50%;
    padding: 1.2rem ;
    letter-spacing: -3px;
    color: rgb(255, 255, 214);
    /* background-color: lightyellow; */
    font-size: 4.5rem;
    line-height: 5.5rem;
    
    
}
h2{
    font-weight: 400;
}
.leftDiv{
    background-color: rgba(255, 255, 224, 0.144);
    margin-top: 3rem ;
    display: flex;
    /* justify-content: space-evenly; */
    width: 44.5%;
    font-size: 0.8rem;
    padding: 1rem 2rem 1rem 1rem;
    color: var(--primary-color);
    
}
.coh{
    background-color: rgba(60, 179, 114, 0.384);
    padding-left: 4px;
}
.loremdiv{
    width: 50%;
    font-size: .8rem;
    line-height: 1.1;
    padding-left: 4rem;
    background-color: rgba(147, 112, 216, 0.336);
}

.leftSmall{
    font-size: 0.3rem;
    width: 10%;
    padding-left: 3rem;
    background-color: rgba(186, 85, 211, 0.411);
}

/* leftbottomdiv style */
.leftFooter{
    position: absolute;
    bottom: 0;
    padding:1rem 1.1rem;
    display: flex;
    width: 44.5%;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: 0.5rem;
    color: var(--primary-color);
}

